<ng-container *ngIf="searchUsers && searchUsers.length > 0; else noResults">
    <div *ngFor="let user of searchUsers; let index = index" class="users">
        <div class="info-user">
            <img
                *ngIf="user.user?.avatar?.location"
                [src]="user.user?.avatar?.location"
                alt="photo de profil de {{ user.user?.username }}"
            />
            <p>{{ user.user?.username }}</p>
        </div>
        <app-friend-add-remove
            [isFriend]="user.isFriend!"
            [idFriend]="user.user?._id!"
            style="position: absolute; right: 2%"
        ></app-friend-add-remove>
    </div>
</ng-container>
<ng-template #noResults>
    <p class="mt-6 text-lg text-center">Aucun membre n'existe avec ce nom, c'est triste 😔</p>
</ng-template>
