<div class="friends-page">
  <h2>Mes amis</h2>
  <app-search-bar *ngIf="pagination" (newValueUser)="search($event)" [placeholder]="'Cherchez votre ami'"></app-search-bar>
  <ng-container class="friends-container">
    <div *ngFor="let user of users | paginate: { itemsPerPage: 5, currentPage: page}">
      <app-friends [user]="user"></app-friends>
    </div>
  </ng-container>
</div>
<pagination-controls *ngIf="pagination" previousLabel="Précédent" nextLabel="Suivant" (pageChange)="page = $event" class="paginator-friends"></pagination-controls>
