<mat-card class="text-center pb-5 h-full">
  <div class="flex flex-col h-full justify-center items-center">
      <mat-card-title class="w-full">
        <h1>Réinitialisation du mot de passe</h1>
      </mat-card-title>
      <mat-card-content class="w-full">
        <form>
          <mat-form-field class="w-11/12 mt-5" appearance="outline">
            <mat-label>email</mat-label>
            <input matInput name="email" [(ngModel)]="user.email" />
            <mat-icon matSuffix>mail</mat-icon>
          </mat-form-field>
          <mat-form-field class="w-11/12 mt-5" appearance="outline">
            <mat-label>mot de passe</mat-label>
            <input matInput name="password" [type]="hide ? 'password' : 'text'" [(ngModel)]="user.password"/>
            <button mat-icon-button matSuffix (click)="hide = !hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field class="w-11/12 mt-5" appearance="outline">
            <mat-label>Confirmation du mot de passe</mat-label>
            <input matInput name="password" [type]="hide ? 'password' : 'text'" [(ngModel)]="checkPassword"/>
            <button mat-icon-button matSuffix (click)="hide = !hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <span class="block text-[color:var(--error)]" *ngIf="error">{{error}}</span>
        </form>
      </mat-card-content>
      <mat-card-footer class="pb-10 pt-5 w-full">
        <button mat-flat-button (click)="resetPassword()" class="text-white bg-[color:var(--primary)] w-1/2">
          Envoyer
        </button>
      </mat-card-footer>
      <mat-label (click)="redirect()" class="password-reset">revenir à la page d'accueil</mat-label>
  </div>
</mat-card>
