<div class="header">
    <h1>GameFuse</h1>
</div>

<div class="content">
    <div class="presentation">
        <p>
            Bienvenue sur GameFuse ! LA plateforme sociale en ligne qui vous permettra de réduire la
            distance avec vos amis et pourquoi pas vous en faire de nouveaux ?
        </p>
        <p>Le concept est simple ! Choisissez un jeu, invitez vos amis et amusez-vous !</p>
    </div>

    <h2 id="topGamesTitle">Les jeux à la une !</h2>

    <div id="squares">
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
    </div>
</div>
