.header {
  text-align: center;
  margin-top: 50px;
}

.header h1 {
  color: #333;
  font-size: 32px;
  margin: 0;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin-top: 2em;
}

.presentation {
  margin-bottom: 30px;
}

.presentation p {
  color: #555;
  line-height: 1.5;
}

#squares{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

.square {
  width: 180px;
  height: 180px;
  margin: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1.5s;
}

.square:hover{
  transform: scale(1.1);
}

.square h3 {
  text-align: center;
  color: red;
}

#topGamesTitle{
  text-align: center;
}
