.chat {
  top: 0;
  bottom: 0;
  z-index: 3;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  max-height: 100%;
  border: 1px solid;

  .conversation {
    flex: 1;
    overflow-y: auto;
    .message {
      padding: 0.5rem;
      color: black;
      margin: 0.5rem;
      border-radius: 10px;
      background: var(--message);
      width: 70%;
      height: 88px;
      flex-shrink: 0;
      margin-left: 5%;
    }

    .my-message {
      background: var(--myMessage);
      text-align: right;
      margin-left: 25%;
    }

    .cor-message {
      margin-right: 2rem;
    }
  }
}

@media (min-width: 720px) {
  .chat {
    position: static;
    height: 100vh;
    max-height: 100%;
  }
}

.copy-text {
  cursor: pointer;
  text-align: center;
}
.copy-text:hover{
  font-size: 15px;
  transition: 1s;
}
