<mat-form-field class="w-full mt-5" appearance="outline">
    <mat-label>Mot de passe</mat-label>
    <input
        matInput
        name="password"
        [type]="hide ? 'password' : 'text'"
        [(ngModel)]="user!.password"
    />
    <button mat-icon-button matSuffix (click)="hide = !hide">
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
</mat-form-field>
<mat-form-field class="w-full mt-5" appearance="outline">
    <mat-label>Confirmation du mot de passe</mat-label>
    <input
        matInput
        name="password"
        [type]="hide2 ? 'password' : 'text'"
        [(ngModel)]="user!.checkPassword"
    />
    <button mat-icon-button matSuffix (click)="hide2 = !hide2">
        <mat-icon>{{ hide2 ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
</mat-form-field>
