<div class="profil-page">
  <h1 class="title">Mon profil</h1>
  <div class="my-profil">
    <app-change-user-form></app-change-user-form>
    <div class="second-part">
      <div class="profil-picture-comp">
        <app-change-profil-pic class="flex flex-col items-center gap-4"></app-change-profil-pic>
      </div>
      <div class="password-change-comp">
        <h3>Changement de mot de passe</h3>
        <app-password-field [user]="changePassword"></app-password-field>
        <button mat-flat-button class="button bg-[color:var(--primary)] text-white" (click)="onSubmit()">Valider</button>
      </div>
    </div>
  </div>
</div>
