<div class="profil-page">
  <h1 class="title">Mon profil</h1>
  <div class="my-profil">
    <app-change-user-form></app-change-user-form>
    <div class="second-part">
      <div class="profil-picture-comp">
        <app-change-profil-pic></app-change-profil-pic>
      </div>
      <div class="password-change-comp">
        <app-password-field [user]="user"></app-password-field>
        <button mat-flat-button class="button bg-[color:var(--primary)] text-white">Valider</button>
      </div>
    </div>
  </div>

</div>
