<mat-card class="m-auto max-w-xl !p-0">
    <mat-card-header class="pt-3 justify-center">
        <mat-card-title>Vous avez reçu une invitation de {{ sender?.username }}</mat-card-title>
    </mat-card-header>
    <img src="{{ sender?.avatar?.location }}" class="w-full" />
    <mat-card-content class="p-3 mt-3 !mb-0">
        <p class="text-center">Souhaitez vous l'accepter ou la refuser ?</p>
    </mat-card-content>
    <mat-card-actions class="!p-3">
        <div class="flex justify-center">
            <button mat-flat-button class="accept-invit" (click)="acceptInvitation()">
                Accepter
            </button>
            <button mat-flat-button class="refuse-invite" (click)="refuseInvitation()">
                Refuser
            </button>
        </div>
    </mat-card-actions>
</mat-card>
