.others-video {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.my-video, .others-video {
  height: auto;
}

.call-container {
  height: 18vh;
  overflow-y: auto;
  border-bottom: 1px solid black;

  .media-area {
    height: 100%;
    align-content: center;
    display: flex;

    .my-video {
      width: 20%;
      border: 1px solid black;
    }
  }
}

.hide {
  display: none;
}
