<div class="flex">
    <span mat-dialog-title> Confirmer l'action </span>
    <span class="flex flex-1"></span>
    <button mat-icon-button mat-dialog-close>
        <mat-icon class="text-[color:var(--error)]">close</mat-icon>
    </button>
</div>
<div mat-dialog-content>
    <span>
        {{ message }}
    </span>
</div>
<div mat-dialog-actions class="flex justify-center mt-5">
    <div class="w-1/2 pr-2">
        <button
            mat-flat-button
            class="text-white bg-[color:var(--error)] w-full"
            (click)="closeDialog()"
        >
            Annuler
        </button>
    </div>
    <div class="w-1/2 pl-2">
        <button
            mat-flat-button
            class="text-white bg-[color:var(--success)] w-full"
            (click)="confirmDialog()"
        >
            Confirmer
        </button>
    </div>
</div>
