<mat-card class="card-friend">
    <mat-card-header>
        <img *ngIf="user?.avatar" mat-card-avatar class="example-header-image" [src]="user?.avatar?.location" alt="photo profil {{user?.username}}"/>
        <mat-card-title>{{ user?.firstname }} {{ user?.lastname }}</mat-card-title>
        <mat-card-subtitle>{{ user?.username }}</mat-card-subtitle>
    </mat-card-header>
    <img *ngIf="user?.avatar" mat-card-image [src]="user?.avatar?.location" alt="photo profil {{user?.username}}" />
    <mat-card-content>
        <p>Votre ami</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button class="w-64 bg-[color:var(--primary)] text-white">Voir le profil</button>
    </mat-card-actions>
</mat-card>
