<mat-card>
    <mat-card-header class="flex justify-center">
        <h2>Changement de mot de passe</h2>
    </mat-card-header>
    <mat-card-content class="!flex !justify-center">
        <app-password-field [user]="changePassword" class="w-3/4"></app-password-field>
    </mat-card-content>
    <mat-card-actions class="!flex !justify-center !flex-col !items-center !pb-5">
        <button
            mat-flat-button
            class="button bg-[color:var(--primary)] text-white w-1/2"
            (click)="onSubmit()"
        >
            Valider
        </button>
        <span class="block text-[color:var(--error)] mt-5" *ngIf="error">{{ error }}</span>
        <span class="block text-[color:var(--success)] mt-5" *ngIf="ok">{{ ok }}</span>
    </mat-card-actions>
</mat-card>
