<table mat-table [dataSource]="players" class="w-full">
    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element; let i = index" class="!w-1/5 font-medium">
            {{ i + 1 }}
        </td>
    </ng-container>

    <ng-container matColumnDef="player">
        <th mat-header-cell *matHeaderCellDef>Joueur</th>
        <td mat-cell *matCellDef="let element" class="font-medium">{{ element.username }}</td>
    </ng-container>

    <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef>Score</th>
        <td mat-cell *matCellDef="let element; let i = index" class="!w-1/5">
            <div class="flex">
                <span class="flex flex-1"></span>
                <div class="flex items-center">
                    <span class="font-bold">
                        {{ element.scores.length }}
                    </span>
                    <mat-icon class="ml-5" [ngStyle]="{ color: getColor(i + 1) }"
                        >emoji_events</mat-icon
                    >
                </div>
            </div>
        </td>
    </ng-container>

    <tr class="mat-row" *matNoDataRow>
        <td class="!text-center" [attr.colspan]="columns.length">
            Aucun joueur correspondant aux critères
        </td>
    </tr>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
</table>
